// Functions first
@import "bootstrap/functions";

// Variable overrides second
$secondary: #101828;
$warning: #FCAE30;
$success: #079B7E;
$enable-shadows: false;
$grey1: #8B9DA7;
$grey2: #6F747E;
$grey3: #EBEDEE;
$grey4: #EFF2F4;
$grey5: #FBFCFC;
$dropdown-spacer: 0rem !important;
$dropdown-padding-y: 0;
$tooltip-bg: $grey5;
$tooltip-color: $secondary;



$prefix: "tel-";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$gradiant-1: linear-gradient(137.36deg, #F8F5E5 -3.33%, #DFFDF7 175.22%);
$gradiant-2: radial-gradient(71.95% 308.35% at 7.67% 68.4%, #EFF2F4 0%, $grey5 100%);

@import "bootstrap/bootstrap.scss";

.w-100 {
  width: 100%;
}

.tooltip {
  .tooltip-inner {
    border: 1px solid $grey4 !important;
  }

}

.dm-sans-regualar {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-gradiant-1 {
  background: $gradiant-1 !important;
}

.bg-gradiant-2 {
  background: $gradiant-2 !important
}

p {
  color: $grey2;
}

img {
  max-width: 100%;
  height: auto;
}

.border-light-2 {
  border: 2px solid #EBEDEE !important;
}

body {
  font-family: "DM Sans", sans-serif;
  color: $secondary;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 13px 32px;
}

.grey-1 {
  color: $grey1;
}

.grey-4 {
  background-color: $grey4;
}

.rounded-24 {
  border-radius: 1.5rem;
}

.text-secondary-60 {
  color: rgba($secondary, 0.6);
}

.fs-68 {
  font-size: 4.1rem;
}

.fs-44 {
  font-size: 2.75rem;
}

.fs-20 {
  font-size: 1.15rem;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.opacity-60 {
  opacity: .6;
}

.hero-section {
  .video-background {
    position: relative;
    height: 590px;
    overflow: hidden;

    .video-bg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    .content {
      position: relative;
      z-index: 1;
      background-color: rgba($secondary, 0.7);
      height: 100%;


      header {
        display: flex;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid rgba($grey3, 0.15);

        .menu {
          margin-left: auto;

          ul {

            display: flex;
            align-items: center;
            gap: 3rem;

            li {
              a {
                color: $white;
              }
            }
          }

        }
      }
    }
  }
}

.section-spacing {
  padding: 5rem 0;
}

.badge-only {
  background-color: $white;
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 14px;
  border: 1px solid $grey3;
  display: inline-flex;
  align-items: center;

  img {
    margin-right: .5rem;
  }
}

.animated-cards {
  li {
    background-color: $white;
    padding: 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    gap: 1.5rem;
    align-items: start;

    h5 {
      font-weight: bold;
      font-size: 20px;
    }

    p {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.centeredbg {
  position: relative;
  padding: 5rem 0;

  &:after {
    content: "";
    background: radial-gradient(71.95% 247.42% at 6.15% 56.72%, #EFF2F4 0%, $grey5 100%);
    width: calc(100% - 220px);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin: 0 auto;
    border-radius: 1.5rem;
  }

}

.testi-card {
  border: 0;
  border-radius: 1.5rem;

  img {
    border-radius: 12px;
    margin-bottom: .5rem;
  }
}

.testimonial-slider,
.case-slider {
  margin: 0 0 0 200px;
}

.case-card {
  border-radius: 1.5rem;
  padding: .3rem;
  border: 1px solid $grey3;

  img {
    margin-bottom: 1rem;
  }

  h6 {
    margin-bottom: .5rem;
  }

  p {
    margin-bottom: 0;
  }
}

.contactform {

  background-color: $secondary;
  text-align: center;
  border-radius: 2rem;
  padding: 3rem;
}

.contactform {
  form {
    max-width: 1102px;
    margin: 0 auto;

    input {
      background-color: rgba($white, 5%);
      border: 1px solid rgba($grey1, 40%);
      height: 54px;

      &::placeholder {
        color: $grey1;
      }
    }
  }
}

.light-border {
  border: 1px solid rgba($grey3, 60%) !important;
}

.footer {
  padding: 5rem 0;
  border-top: 1px solid $grey3;
  border-bottom: 1px solid $grey3;
  margin-top: 8rem;

  .mcontainer {
    max-width: calc(100% - 300px);
    margin: 0 auto;
  }
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.f-links {
  li {
    margin-bottom: .6rem;

    a {
      color: $secondary;
      font-weight: 500;
    }
  }
}

@media (min-width:1024px) {
  .swiper-button-prev {
    left: -1rem;

    &:hover {
      transform: translateX(-.7rem);
    }
  }

  .swiper-button-next {
    right: -1rem;

    &:hover {
      transform: translateX(.7rem);
    }
  }

  .hidedeskarrow {

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }

  .case-mswiper {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
    }

  }

  .ms-lg-7 {
    margin-left: 13rem !important;
  }

  .reduce-90px-width {
    width: calc(100% - 162px);
    margin: 0 auto;
  }
}

@media (max-width:1023px) {
.mx-w1027{
    .swiper-button-next, .swiper-button-prev{
      margin-bottom: -25px!important;
    }
  }
  .modalclose{
    right: .5rem!important;
    top: -2rem!important;
  }
  body .section-spacing-contact {
    margin-top: 5rem !important;
  }

  .layoutshiftdown {
    transform: translateY(30px) !important;
  }

  .big-numbers {
    display: flex !important;
    flex-wrap: wrap;
    padding: 1rem !important;

    li {
      width: 50% !important;
      font-size: 44px !important;
      padding: 1.5rem 1rem !important;

      p {
        font-size: 14px !important;
        margin-bottom: 0 !important;
      }

      &:nth-child(2) {
        border-right: 0 !important;
      }

      &:last-child {
        width: 100% !important;
        position: relative;
        padding-top: 1rem !important;
        margin-top: 2rem;

        &::before {
          content: "";
          position: absolute;
          width: 60%;
          height: 1px;
          border-top: 1px solid $grey1;

          left: 50%;
          transform: translateX(-50%);
          top: 0;
        }
      }
    }
  }

  .list-style-3 {
    gap: .7rem !important;

    li {
      width: 33.33% !important;

      p {
        font-size: 14px !important;
      }
    }
  }

  .more-services ul li {
    width: auto !important;
    min-width: 114px;

    p {
      font-size: 14px !important;
      line-height: 20px !important;
    }
  }

  .whattheysay {
    grid-template-columns: 1fr !important;
    gap: 1rem !important;

    li {
      margin: 0 !important;
    }
  }

  .nav-resposnive {
    overflow-x: auto;
    text-wrap: nowrap;
    margin: 1.5rem 0;

    img {
      margin-left: 1rem !important;
    }
  }

  .centeredbg {
    padding: 3rem 0 !important;
  }

  .brands-2 {
    padding: .5rem;

    li {
      width: 28%;
    }
  }

  .auto-increment-list {
    h3 {
      font-size: 36px !important;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: auto !important;
    bottom: -1.5rem !important;

  }

  .swiper-button-prev {
    left: 39% !important;
    transform: translateX(-39%);
  }

  .swiper-button-next {
    right: 39% !important;
    transform: translateX(39%);
  }

  .hero-img {
    max-width: 72%;
    margin-left: auto;
    display: block;
    margin-top: -12px;
  }

  .btn {
    border-radius: 8px;
  }

  .pm-8-12 {
    padding: 8px 12px !important
  }

  .btn {
    font-size: 14px;
  }

  .badge-only {
    font-size: 12px;
  }

  .text-m-40 {
    font-size: 40px !important;
    line-height: 48px !important;
  }

  .text-m-14 {
    font-size: 14px !important;
    line-height: 22px !important;
  }

  .text-m-16 {
    font-size: 16px !important;
    line-height: 24px !important;
  }

  .text-m-20 {
    font-size: 20px !important;
    line-height: 28px !important;
  }

  .text-m-32 {
    font-size: 32px !important;
    line-height: 38px !important;
  }

  .rounded-m-24 {
    border-radius: 24px !important;
  }

  .section-spacing {
    padding: 0 !important;
    margin: 3rem 0 !important;
  }

  .centeredbg {
    &::after {
      width: 90% !important;
      margin: 0 auto !important;
    }
  }

  .testimonial-slider {
    width: 80% !important;
    margin: 0 auto !important;
  }

  .case-slider {
    width: 85% !important;
    margin: 0 auto !important;
  }

  .footer {
    padding: 2rem 0 !important;
    margin-top: 2.5rem !important;
  }

  .contactform {

    padding: 2rem .5rem !important;
    border-radius: 24px !important;
  }

  .animated-cards {
    li {

      padding: 1rem;
      border-radius: 1rem;
      margin-bottom: 1rem;
      display: flex;
      gap: 1rem;

      h5 {
        font-size: 18px;
      }
    }
  }


  .hero-section {
    .video-background {
      .content {

        header {
          padding: 1rem 10px;

          .logo {
            img {
              max-width: 123px;
            }
          }

          .menu {
            display: none;


          }
        }
      }
    }
  }
}






.menu-dark {
  li {
    a {
      color: $secondary !important;
    }
  }
}

.navmenu2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;

  li {
    a {
      display: flex;
      align-items: center;
      padding: .7rem;
      border-radius: 7px;
      color: $secondary;

      &.active {
        background: linear-gradient(144.53deg, #F8F5E5 36.27%, #DFFDF7 134%);

        img {
          opacity: 1;
        }
      }

      &:hover,
      &:active,
      &:focus {
        background: linear-gradient(144.53deg, #F8F5E5 36.27%, #DFFDF7 134%);
        color: $secondary !important;

        img {
          opacity: 1;
        }
      }
    }

    img {
      opacity: 0;
      margin-left: 2rem;
    }
  }
}

.borderbottom {
  border-bottom: 1px solid $grey3 !important;
}

.star-link {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  background: $gradiant-1;
  padding: .5rem 1rem;
  border-radius: 50px;
  border: 1px solid $grey3;
  font-size: 14px;

  span {
    color: $success;
  }

  a {
    color: $grey1;
  }
}

.auto-increment-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;

  h3 {
    font-size: 44px;
  }

  p {
    margin-bottom: 0;
    font-size: 14px;
    color: rgba($secondary, 0.6);
  }
}

.brands-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
}

.comman-card {
  border-radius: 1.5rem;
  border: 1px solid $grey3;
}

.animated-list-card {
  position: relative;
  padding: 1.5rem;

  img {
    margin-bottom: 1.5rem;
    transition: all 0.3s ease-in-out;
  }

  p {
    margin-bottom: .5rem;
  }

  &::after {
    position: absolute;
    content: "";
    background: $gradiant-1;
    height: 61%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 1.5rem;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    img.card-img {
      transform: translateY(-15px);
    }

    &::after {
      height: 56%;
    }
  }
}

.light-bg {
  background-color: $grey5;
}

.whattheysay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;

  li {
    background: $gradiant-1;
    padding: 1.5rem;
    display: inline-flex;
    gap: 1.5rem;
    max-width: 400px;
    border-radius: 1.5rem;

    p {
      margin-bottom: 0;
    }

    &:nth-child(1) {
      margin-left: 120px;
    }

    &:nth-child(2) {
      margin-left: auto;
      margin-right: 120px;
    }

    &:nth-child(4) {
      margin-left: auto;
    }

    &:nth-child(5) {
      margin-left: 40px;
    }

    &:nth-child(6) {
      margin-left: auto;
      margin-right: 40px;
    }

  }
}

.whattheysay-mg {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.mynav {
  margin: 2rem 0;

  z-index: 1;

  a {
    text-align: left;
    white-space: nowrap;
    width: 320px;
    margin-bottom: 1rem;
    color: $secondary !important;
    min-height: 45px;

    &.active {
      background: $gradiant-1 !important;
      border: 1px solid $grey3;
      position: relative;

      &::after {
        background-image: url("../images/icons/right-icon.svg");
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: .6rem;
        width: 12px;
        height: 12px;
        background-size: 100%;
      }
    }
  }
}

.list-style-3 {
  display: flex;
  gap: 1.5rem;
  text-align: center;
  margin: 2rem 0;

  li {
    width: 25%;

    p {
      margin-bottom: 0;
      margin-top: .8rem;
    }
  }

  &.withborder {
    li {
      border: 1px solid $grey3;
      background-color: $grey5;
      padding: 1rem;
      border-radius: 1.5rem;
    }
  }
}

.list-check {
  li {
    margin-bottom: .5rem;
    position: relative;
    padding-left: 1.8rem;

    &::before {
      position: absolute;
      left: 0;
      top: 2px;
      background-image: url("../images/icons/check-green-icon.svg");
      width: 20px;
      height: 20px;
      background-size: 100%;
      content: "";
    }
  }
}

.big-numbers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  background: $gradiant-2;
  padding: 4rem;
  border-radius: 1.5rem;

  li {
    font-size: 68px;
    text-align: center;
    border-right: 2px solid rgba($grey1, 0.5);

    &:last-child {
      border-right: 0;
    }

    p {
      font-size: 1rem;
      max-width: 200px;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.inner-pages {
  .section-spacing {
    margin: 6rem 0;
    padding: 0;
  }

}

.social-icons-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 0;

  li {
    a {
      background-color: $white;
      display: block;
      padding: 1rem;
      border-radius: 50px;
    }
  }
}

.form-design {
  background-color: $grey5;
  border: 1px solid $grey3;
  padding: 1rem;
  border-radius: 1.5rem;

  input,
  textarea {
    background-color: $grey4;
    border: 0;
    box-shadow: none;
  }

  label {
    color: $grey1;
    transition: all 0.1s ease-in-out;
  }
}

.layoutshiftdown {
  transform: translateY(100px);
}

.section-spacing-contact {
  margin-top: 10rem !important;
}

.locations-swiper {
  max-width: 1027px;
  margin: 0 auto;
  .swiper-slide{
    cursor: pointer;
    .location-card{
      &.active{
        border: 1px solid $secondary;
      }
      &:hover{
        border: 1px solid $secondary;
      }
    }
  }
}
.mx-w1027{
  max-width: 1150px;
}
.location-card {
  border: 1px solid $grey3;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  gap: 12px;
  background-color: white;

  img {
    width: 38px;
    height: 38px;
  }

  h5 {
    font-size: 1rem;
    color: $secondary;
    margin-bottom: 0;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.btn {
  box-shadow: none;
}

.btn-light {
  border: 2px solid $grey3;
  background-color: white !important;
}

.right-fixed-btns {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  background-color: $grey5;
  overflow: hidden;
  border: 1px solid $grey4;
  border-radius: 8px 0 0 8px;

  li {
    a {
      border: 1px solid $grey4;
      display: block;
      padding: .5rem;
    }

    &:last-child {
      a {
        border-bottom: 0;
      }

    }
  }
}

.brands-slider {
  position: relative;

  &::after {
    position: absolute;
    width: 15%;
    right: 0px;
    top: 0px;
    bottom: 0;
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.82) 57.8%, #FFFFFF 82.11%, #FFFFFF 100%);
    z-index: 1000;
  }

  &::before {
    position: absolute;
    width: 15%;
    left: 0px;
    top: 0px;
    bottom: 0;
    content: "";
    z-index: 1000;
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 17.89%, rgba(255, 255, 255, 0.82) 42.2%, rgba(255, 255, 255, 0) 100%);
  }
}

.text-secondary {
  a {
    color: $secondary;
  }
}


.navmenu2drop {
  button {
    width: 100%;
    text-align: left;
    background: $gradiant-1;
    border: 1px solid $grey4;
    color: $secondary;
    padding: .8rem 1rem;
    border-radius: 6px;

    &::after {
      display: none;
    }

    &::before {
      display: inline-block;
      content: "";
      border-top: 2px solid #079b7e;
      border-right: 2px solid #079b7e;
      width: 9px;
      height: 9px;
      position: absolute;
      right: 1rem;
      top: 45%;
      transform: translateY(-45%) rotate(135deg);

    }

    &:hover,
    &:active,
    &:focus {
      color: $secondary;
      outline: none;
      box-shadow: none;
      border: 1px solid $grey4;
    }

  }

  .dropdown-menu {
    width: 100%;
    border: 1px solid $grey4;
    box-shadow: none;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -5px !important;

    li {
      a {
        padding: .7rem;
        border-bottom: 1px solid $grey4;

        &.active{
          background-color: transparent;
          color: $primary;
        }
      }

      &:last-child {
        a {
          border-bottom: 0;
        }
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  width: 44px;
  height: 44px;
  border: 1px solid $grey3;
  border-radius: 44px;
  padding: .5rem;
  transition: all 0.3s ease-in-out;

  &::after {
    background-position: 100%;
    font-size: 20px;
    color: $grey1;
  }
}


.toparrowspace {

  .swiper-button-next,
  .swiper-button-prev {
    top: 32%;
  }
}

.more-services {
  overflow-x: auto;

  ul {
    display: flex;
    gap: 1.5rem;

    margin: 1.5rem 0 0;

    li {
      width: 25%;
      text-align: center;
      background-color: $grey5;
      border: 1px solid $grey3;
      padding: 1rem;
      border-radius: 1.5rem;

      p {
        margin-bottom: 0;
        margin-top: .7rem;
      }
    }
  }
}

.accor-head {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
  flex-wrap: wrap;
  font-size: 1rem;

  .view-detail {
    text-decoration: underline;
    color: $secondary;
  }

  .active-crl {
    color: $success;
    position: relative;
    display: flex;
    padding-left: .8rem;
    font-size: 14px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $success;
      width: 8px;
      height: 8px;
      border-radius: 10px;
    }
  }

  .paused-crl {
    color: $warning;
    position: relative;
    display: flex;
    padding-left: .8rem;
    font-size: 14px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $warning;
      width: 8px;
      height: 8px;
      border-radius: 10px;
    }
  }

  .address {
    margin-left: auto;
    display: flex;
    margin-right: 3rem;
    align-items: center;
    color: $grey1;

    img {
      margin-right: .5rem;
      width: 14px;
    }
  }

  .apply {
    color: $grey1;
  }
}

.career-accor {
  transition: none !important;

  .accordion-body {
    padding: 1.5rem;
    padding-top: 0;
    transition: none !important;
  }

  transition: none;

  .accordion-item {
    border: 0;
    overflow: hidden;
    transition: none !important;
    margin-bottom: 1rem;
  }

  .accor-head {
    border: 2px solid $grey3;
    background-color: $grey5;
    padding: 1.5rem;
    border-bottom: 0;
    border-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .collapsed {
    transition: none !important;

    .accor-head {
      background-color: transparent;
      border: 0;
    }
  }

  .accordion-body {
    background-color: $grey5;
    border: 2px solid $grey3;
    border-top: 0;
    border-radius: 1.5rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    transition: none !important;

    p {
      font-size: 14px;

    }

    ul {
      li {
        font-size: 14px;
      }
    }
  }
}

.blog-pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;

  .page-item {
    border: 1px solid $grey3;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    color: $grey2;

    &.active {
      border: 1px solid $grey1;
      color: $secondary;
    }
  }

  li {
    &:first-child {
      margin-right: 1.5rem;
    }

    &:last-child {
      margin-left: 1.5rem;
    }
  }
}

/* Hide the shadow of the Select2 dropdown */
.select2-container .select2-dropdown {
  box-shadow: none !important;
}

/* Hide the shadow of the Select2 selection box */
.select2-container .select2-selection--single {
  box-shadow: none !important;
}

/* Hide the shadow of the Select2 multiple selection box */
.select2-container .select2-selection--multiple {
  box-shadow: none !important;
}

.select2-container .select2-selection--single {
  height: 54px !important;
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
  line-height: 2.5 !important;
}

.select2-container--bootstrap-5 {
  .select2-selection {
    border: 1px solid rgba($grey1, 40%) !important;
    border-radius: 6px !important;

  }

  &.select2-container--open {
    .select2-selection {
      border: 1px solid rgba($grey1, 100%) !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

  }
}

.select2-container--bootstrap-5 .select2-dropdown.select2-dropdown--below {
  border-color: $grey1 !important;
  border-radius: 0 0 6px 6px !important;
}

.menu-overlay {
  overflow-x: auto;
}

.btn-outline-light {
  &:hover {
    background-color: $warning !important;
  }
}

.modalclose {
  position: absolute;
  top: -1.2rem;
  right: -1.2rem;
  background-color: white;
  border-radius: 150px;
  opacity: 1;
  background-size: 37%;
}

.modal-backdrop.show {
  opacity: 1 !important;
  background: linear-gradient(138.36deg, rgba(248, 245, 229, 0.796) 55.06%, #DFFDF7 119.13%) !important;

}

.mmodal {
  .modal-content {
    border: 1px solid #EBEDEE !important;
    background-color: $grey5;
    padding: 1rem;
    border-radius: 1.5rem !important;
  }

  input {
    background-color: #EFF2F4 !important;
    border-color: #EFF2F4 !important;
  }
}
body .bg-transparent{
  background: transparent!important;
  background-color: transparent!important;
}