.imgAnimation {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: all 3s cubic-bezier(.215, .61, .355, 1);

}

.imgAnimation.aos-animate {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: all 3s cubic-bezier(.215, .61, .355, 1);
    /* transition-delay: 0.5s !important; */
}